@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items:end;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
  }

.header {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-color: #1F2937;
    color: #F9FAF8;

}

.logo {
    display: flex;
    font-weight: 800;
    
}

.body {
    margin: 50px;
    font-family: 'roboto', sans-serif;
}